.education-container {
    /* background-color: #f6f6f6; */
    padding: 20px 0;
    align-items: center;
}

.years-div {
    display: flex;
    width: 500px;
    margin: auto;
    padding-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.circle-div {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #fecf39;
    color: #273f5b;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.selected {
    color: #fecf39;
    background-color: #273f5b;
}

.years-div i {
    font-size: 28px;
    color: #273f5b;
}


.education-detail {
    height: auto;
    width: 50%;
    margin: 30px auto;
    display: flex;
    padding: 20px;
    flex-direction: row;
    box-shadow: 0 4px 16px -5px rgb(0 0 0 / 20%)
}

.education-image-container {
    display: flex;
    flex: 3;
    /* padding: 20px 0; */
    align-items: center;
    justify-content: center;
}

.education-image-container img {
    height: 150px;
    width: 200px;
}

.education-description {
    flex: 7;
    display: flex;
    padding-left: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.education-description span {
    margin: 5px 0;
    font-size: 12px;
}

.education-description span:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
}

.education-description span:nth-child(2) {
    font-size: 14px;
    font-weight: 600;
    color: #727272;
    text-transform: capitalize;
}

.education-description span:nth-child(3) {
    margin-top: 10px;
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .years-div {
        width: 90%;
        overflow-x: scroll;
        margin-left: 15px;
    }
    .circle-div {
        height: 60px;
        width: 60px;
    }

    .education-detail {
        flex-direction: column;
    }

    .education-description {
        margin-top: 20px;
    }
}